.storage
.vscode
deps
tts
*.august.conf
custom_scripts
.google.token
.ring_cache.pickle
alexa_media.*.pickle
google_calendars.yaml
home-assistant.log
home-assistant_v2.db*
secrets.yaml
**/__pycache__
www/community/
*~
