.storage
deps
tts
.august.conf
videos
custom_scripts
.google.token
.ring_cache.pickle
alexa_media.j123ss@gmail.com.pickle
google_calendars.yaml
home-assistant.log
home-assistant_v2.db
secrets.yaml
**/__pycache__
www/custom-lovelace